@import 'node_modules/@picocss/pico/css/pico.css';

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    min-height: 100vh;
    gap: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}